.App {
  text-align: center;
  border: "1";
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.TopHalf {
  border: "1";
  min-height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
